<?xml version="1.0"?>
<phpunit bootstrap="../../../autoload.php">
    <testsuites>
        <testsuite name="Auth Class Tests">
            <file>AuthCheckTest.php</file>
            <file>AuthLoginTest.php</file>
            <file>AuthUserTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-text" target="test_results.txt" />
    </logging>
</phpunit>
